.experience {
  height: auto;
  background: black;
  background-size: cover;
}
#experience {
  height: auto;
  background: black;
  background-size: cover;
}
.container {
  height: auto;
  background: black;
  background-size: cover;
}
